streamlit
google-auth
google-cloud-bigquery
db-dtypes
json5
jsonschema
plotly
plotly-express
jj-data-connector @ git+https://github.com/DataSolveProblems/jj_data_connector.git@ea9ccde1fee7ad382f5e145f5a0bfc7e26a2341c
gsheetsdb
millify
plotly-calplot
altair